In [ ]:
import pandas as pd
df = pd.read_csv('上市公司資料.csv')
df

In [6]:
# 選取要留下的欄位
df1 = df[['公司代號', '公司名稱', '產業別',
          '營業收入-當月營收','營業收入-上月營收',
          '營業收入-上月比較增減(%)','營業收入-去年同月增減(%)']]
df1

     公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-上月營收  營業收入-上月比較增減(%)  營業收入-去年同月增減(%)
0    1102   亞泥  水泥工業    7069221    7864622      -10.113658       -1.724460
1    1108   幸福  水泥工業     390053     326691       19.395086       56.035555
2    1109   信大  水泥工業     478276     557403      -14.195654      -19.122427
3    1110   東泥  水泥工業     176935     134470       31.579534       61.915700
4    1213   大飲  食品工業      38696      29503       31.159543       -8.546039
..    ...  ...   ...        ...        ...             ...             ...
834  9942   茂順    其他     352730     349111        1.036633        4.978542
835  9943  好樂迪  觀光事業     212912     197756        7.663990     4082.946955
836  9944   新麗    其他     179660     231139      -22.271880        0.555220
837  9955   佳龍    其他      81881      85625       -4.372555      -25.099022
838  9958  世紀鋼  鋼鐵工業     757968     651699       16.306454      -29.395195

[839 rows x 7 columns]

In [7]:
df2 = df1.astype({'公司代號':'str'})
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   公司代號            839 non-null    object
 1   公司名稱            839 non-null    object
 2   產業別             839 non-null    object
 3   營業收入-當月營收       839 non-null    int64
 4   營業收入-上月營收       839 non-null    int64
 5   營業收入-上月比較增減(%)  837 non-null    float64
 6   營業收入-去年同月增減(%)  838 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 46.0+ KB

In [ ]:
df2.style\
.format({
    '營業收入-上月比較增減(%)':"{:.2f}%",
    '營業收入-去年同月增減(%)':"{:.2f}%"
},thousands=',')

In [ ]:
df2